# Ignore byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
ENV/
env/
.env
.venv

# Ignore distribution/build directories
build/
dist/
*.egg-info/
.eggs/

# Ignore test coverage files
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore IDE/editor specific files
.idea/
.vscode/
*.swp
